.contacto{
    color: #fff;
    background:linear-gradient( rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),url(../img/fondo.jpg);
    background-size: cover;
    background-position: center center;
    padding: 100px 20px;

}
.contacto .contenido-seccion{
    max-width: 800px;
    margin: auto;
}

.contacto .contenedor-titulo{
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
}
.contacto  .contenedor-titulo .numero{
    color: #ff1133;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.contacto .contenedor-titulo .info{
    margin-left: 30px;
}
.contacto .contenedor-titulo .info .frase{
    color: #ff1133;
}
.contacto .contenedor-titulo .info h2{
    font-size: 3rem;
}
.contacto .fila{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.contacto .fila .col{
    width: 48%;
}
.contacto .fila input{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
}
.contacto textarea{
    display: block;
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
    outline: none;
    width: 100%;
    height: 200px;
}
.contacto .contenido-seccion .imagen img{
    width: 800px;
    margin-top: 20px;
}
.contacto .mensaje a{
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    border: none;
    background-color: #ff1133;
    color: #fff;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.contacto .fila-datos .col i a{
    color:white;
    text-decoration: none;
}
.contacto .fila-datos{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    font-size: 18px;
    text-align: center;
}
.contacto .ubi iframe{
    margin-top: 70px;
    width: 800px;
}
.contacto i{
    color: #ff1133;
    display: inline-block;
    margin-right: 10px;
}
