footer{
    background-color: #151623;
    padding: 30px 0;
}
footer .info{
    display: flex;
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
    padding: 0 20px;
}
footer .info p{
    color: #797e8e;
}
footer .info a{
    text-decoration: none;
    color: #797e8e;
    display: inline-block;
    margin: 0 15px;
}